* {
    box-sizing: border-box;
}
body {
    margin: auto;
}
nav {
    background: grey;
    width: 100%;
    font-family: "Work Sans";
    font-weight: bold;
/*    how can i get the logo to not show bold?*/

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 3em;
    padding: .2em;
    font-family: 'Montserrat', sans-serif;
}
#logo {
    padding-bottom: 0;
    padding-top: 0;
}
