h1 {
    display: flex;
    justify-content: center;
}
#home-img {
    max-width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blockquote-footer {
    color: #CC0000;
}
.card-header {
    font-family:;
    text-align: center;
    background-color: #FF0000;
    color: #FFDE00;
}
.card-body {
    background-color: #3B4CCA;
    color: #B3A125;
}